@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind forms;
@plugin "daisyui";
@import "./headings.css";

.overflow-hidden {
    overflow: hidden;
}


.modal .toc {
    padding-bottom: 25px;
}


.WordSection1 a {
    color: revert;   
}

