@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind forms;
@plugin "daisyui";
@import "./headings.css";

.overflow-hidden {
    overflow: hidden;
}


.modal .toc {
    padding-bottom: 25px;
}


.WordSection1 a,
section a {
    color: revert;   
}


.WordSection1 a:hover,
section a:hover {
    text-decoration: underline;
}

section.level3 {
    padding-left: 1.5rem;
}

section p {
    font-size: 1.025rem;
    line-height: 1.45;
}

